env
share-frontend/node_modules
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
*.bak
*.old
*.orig
*.lock
dist/
build/
coverage/
*.env.local
*.env.*
!.env.example
.env
.env.*.local
!.env.example


# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.cpython-*

# SQLite database files
db.sqlite3
*.sqlite3 
*.sqlite
file_share/db.sqlite3